@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

// Colors
// Primary
$blue: hsl(223, 87%, 63%);

// Secondary
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);

// Neutral
$gray: hsl(0, 0%, 59%);
$dark-blue: hsl(209, 33%, 12%);

// Font
$font-size: 20px;
$font-family: "Libre Franklin";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  line-height: 1;
}

body {
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  line-height: 1.6;
  min-height: 100vh;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  margin-top: 2.5em;

  .logo {
    width: 58px;
    height: 18px;
  }
}

.container {
  width: 85%;
  max-width: 500px;
  margin: 0 auto;

  h1 {
    font-size: 1.6rem;
    font-weight: 400;
    color: $gray;

    .soon {
      color: $dark-blue;
      font-weight: 700;
    }
  }

  p {
    font-size: 0.9rem;
    margin: 1.3em 0;
    color: $dark-blue;
  }

  form {
    margin: 1.6em 0 2em;

    input,
    .btn {
      width: 100%;
      border-radius: 55px;
      padding: 1.3em 2.5em;
      font-family: $font-family;
    }

    input {
      border: 1px solid $pale-blue;
      color: $dark-blue;
      outline: $pale-blue;
      background: transparent;
    }

    input::placeholder {
      color: $pale-blue;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    input:valid {
      border: 1px solid $pale-blue;
      -webkit-text-fill-color: $dark-blue;
      background-color: white;
      transition: background-color 5000s ease-in-out 0s;
    }

    input.error-border {
      border: 1px solid $light-red;
      // background: white;
    }

    .error-msg {
      color: $light-red;
      font-size: 0.8rem;
      font-style: italic;
      display: block;
      width: inherit;
      margin: 0.5em 0 1em;
      font-family: $font-family;
    }

    .btn {
      cursor: pointer;
      background: $blue;
      outline: $blue;
      border: none;
      box-shadow: 0px 7px 10px 1px rgba(79, 125, 243, 0.3);
      color: white;
      font-weight: 600;
      transition: opacity 0.5s ease-in-out;
    }

    .btn:hover {
      //   background: $pale-blue;
      opacity: 0.89;
    }
  }

  .illustration {
    margin: 3em 0 4em;
  }
}

footer {
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;

    a {
      color: $blue;
      border: 0.3px solid $pale-blue;
      border-radius: 50%;
      margin: 0 0.5em;
      height: 30px;
      width: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
    }
  }

  .copyright {
    color: $gray;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

// Media Queries
@media (min-width: 600px) {
  header {
    .logo {
      width: 80px;
      height: 20px;
    }
  }
  .container {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }

    form {
      display: grid;
      grid-template-columns: 70% 30%;
      gap: 0.5rem;
      justify-content: center;
      align-items: flex-start;

      .error-msg {
        text-align: left;
        padding-left: 2.2em;
      }
    }
  }
}
