@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  line-height: 1;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  min-height: 100vh;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
  margin-top: 2.5em;
}

header .logo {
  width: 58px;
  height: 18px;
}

.container {
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
}

.container h1 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #969696;
}

.container h1 .soon {
  color: #151f29;
  font-weight: 700;
}

.container p {
  font-size: 0.9rem;
  margin: 1.3em 0;
  color: #151f29;
}

.container form {
  margin: 1.6em 0 2em;
}

.container form input,
.container form .btn {
  width: 100%;
  border-radius: 55px;
  padding: 1.3em 2.5em;
  font-family: "Libre Franklin";
}

.container form input {
  border: 1px solid #c2d3ff;
  color: #151f29;
  outline: #c2d3ff;
  background: transparent;
}

.container form input::-webkit-input-placeholder {
  color: #c2d3ff;
}

.container form input:-ms-input-placeholder {
  color: #c2d3ff;
}

.container form input::-ms-input-placeholder {
  color: #c2d3ff;
}

.container form input::placeholder {
  color: #c2d3ff;
}

.container form input:-webkit-autofill,
.container form input:-webkit-autofill:hover,
.container form input:-webkit-autofill:focus,
.container form textarea:-webkit-autofill,
.container form textarea:-webkit-autofill:hover,
.container form textarea:-webkit-autofill:focus,
.container form select:-webkit-autofill,
.container form select:-webkit-autofill:hover,
.container form select:-webkit-autofill:focus,
.container form input:valid {
  border: 1px solid #c2d3ff;
  -webkit-text-fill-color: #151f29;
  background-color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.container form input.error-border {
  border: 1px solid #ff5263;
}

.container form .error-msg {
  color: #ff5263;
  font-size: 0.8rem;
  font-style: italic;
  display: block;
  width: inherit;
  margin: 0.5em 0 1em;
  font-family: "Libre Franklin";
}

.container form .btn {
  cursor: pointer;
  background: #4f7df3;
  outline: #4f7df3;
  border: none;
  -webkit-box-shadow: 0px 7px 10px 1px rgba(79, 125, 243, 0.3);
          box-shadow: 0px 7px 10px 1px rgba(79, 125, 243, 0.3);
  color: white;
  font-weight: 600;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.container form .btn:hover {
  opacity: 0.89;
}

.container .illustration {
  margin: 3em 0 4em;
}

footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5em 0;
}

footer .social-links a {
  color: #4f7df3;
  border: 0.3px solid #c2d3ff;
  border-radius: 50%;
  margin: 0 0.5em;
  height: 30px;
  width: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

footer .copyright {
  color: #969696;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}

.attribution a {
  color: #4f7df3;
  font-weight: 600;
}

@media (min-width: 600px) {
  header .logo {
    width: 80px;
    height: 20px;
  }
  .container h1 {
    font-size: 2rem;
  }
  .container p {
    font-size: 1rem;
  }
  .container form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    gap: 0.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container form .error-msg {
    text-align: left;
    padding-left: 2.2em;
  }
}
/*# sourceMappingURL=style.css.map */